* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(175deg, #ffea57 0, #ffec4e 7.14%, #f8ed47 14.29%, #e2ed42 21.43%, #c9ec40 28.57%, #aeeb40 35.71%, #90e843 42.86%, #6be548 50%, #34e150 57.14%, #00dd5b 64.29%, #00da67 71.43%, #00d676 78.57%, #00d386 85.71%, #00d097 92.86%, #00cda9 100%);
}

.itemA {
    grid-area: img1;
    border-radius: 25px;
    border: 2px solid black;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

.itemB {
    grid-area: img2;
    border-radius: 25px;
    border: 2px solid black;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

#itemC {
    grid-area: result;
    padding: 17px;
    padding-top: 100px;
    font-family: 'Coda Caption', sans-serif;
    font-size: 40px;
}

/* #intento {
    text-align: center;
    font-size: 50px;
} */

#imagenesxd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img1 result img2";
    gap: 10px;
    margin: 25px 100px;
}

#imagenrandom {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    padding: 40px 100px;
}

.under-imguno {
    font-family: 'Coda Caption', sans-serif;
    font-size: 30px;
    position: relative;
    left: 170px;
    top: 20px;
}

.under-imgdos {
    font-family: 'Coda Caption', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 1030px;
    top: 355px;
}


.item:nth-child(1) {
    background-color: yellow;
    /* grid-column: 2; */
    /* height: 50px; */
    border-radius: 15px;
    box-shadow: 4px 5px 20px 6px black;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; 
}

.item:nth-child(2) {
    background-color: blue;
    /* -webkit-animation-name: tada;
    animation-name: tada; */
    /* grid-column: 2; */
    /* height: 50px; */
    border-radius: 15px;
    box-shadow: 4px 5px 20px 6px black;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

.item:nth-child(3) {
    background-color: red;
    /* grid-column: 2; */
    /* height: 50px; */
    border-radius: 15px;
    box-shadow: 4px 5px 20px 6px black;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; 
}

.item:nth-child(4) {
    background-color: green;
    grid-column: 2;
    height: 50px;
    border-radius: 15px;
    box-shadow: 4px 5px 20px 6px black;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; 
}

img {
    width: 100%;
    height: 300px;
    box-shadow: 6px 7px 20px 6px black;
}
